@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Coming+Soon&family=Grandstander:wght@200&family=Kreon&family=Libre+Barcode+39+Text&family=Londrina+Outline&family=Londrina+Solid:wght@300&family=Rampart+One&family=Yusei+Magic&family=Zilla+Slab+Highlight&display=swap");

/*
  font-family: "Bebas Neue", sans-serif;
font-family: 'Bubblegum Sans', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Grandstander', cursive; // yes 
font-family: 'Kreon', serif;
font-family: 'Libre Barcode 39 Text', system-ui;
font-family: 'Londrina Outline', sans-serif;
font-family: 'Londrina Solid', sans-serif;
font-family: 'Rampart One', sans-serif; // yes 
font-family: 'Yusei Magic', sans-serif;
font-family: 'Zilla Slab Highlight', serif;

*/

.formReservation{
    display: flex;
    flex-direction: column;
}

label {
    font-size: 2em;
    color: aliceblue;
    font-family: 'Coming Soon', sans-serif;
}

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}